# 점프투파이썬_p.112-113

In [4]:
a="a:b:c:d"
b=a.replace(':', '#')
print(b)

a#b#c#d

In [6]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [9]:
a=['Life', 'is', 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

### 8. (1,2,3) 튜플에 값 4 추가하여 (1,2,3,4) 만들기 
- 튜플은 값 생성, 변경, 삭제 불가

In [11]:
a=(1,2,3)
a= a+ (4,)
print(a)

(1, 2, 3, 4)

In [14]:
a={'A':90, 'B':80, 'C':70}
result = a.pop('B') # pop 허면 그 값 없어짐 
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [18]:
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
print(aSet) # 집합
b=list(aSet)
print(b) # 리스트

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]